In [1]:
import pandas as pd
from Machine_Learning_Tools.models import multi_layer_perceptron
from Machine_Learning_Tools.models import single_layer_perceptron
from sklearn.feature_selection import SelectFromModel
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
train = pd.read_csv('datasets/Customer_Segmentation/Train.csv')

In [10]:
train.head()

       ID  Gender Ever_Married  ...  Family_Size  Var_1 Segmentation
0  462809    Male           No  ...          4.0  Cat_4            D
1  462643  Female          Yes  ...          3.0  Cat_4            A
2  466315  Female          Yes  ...          1.0  Cat_6            B
3  461735    Male          Yes  ...          2.0  Cat_6            B
4  462669  Female          Yes  ...          6.0  Cat_6            A

[5 rows x 11 columns]

In [11]:
train = train.drop('ID',axis=1)

In [14]:
train.Work_Experience

0       1.0
1       NaN
2       1.0
3       0.0
4       NaN
       ...
8063    0.0
8064    3.0
8065    1.0
8066    1.0
8067    0.0
Name: Work_Experience, Length: 8068, dtype: float64